body
{
    background-image: url("C:\laragon\www\state\public\gurkisi.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
h1,button
{
    font-family: 'Pixelify Sans', sans-serif;
}
h1
{
    font-size: 50px;
    color: gold;
}